<div class="jumbotron">
      <div class="container">
        <h1>Editing data_coin</h1>
      </div>
</div>
<div class="outer_container">
<%= render 'form' %>

<%= link_to 'Show', @data_coin %> |
<%= link_to 'Back', data_coins_path %>
</div>
