<div class="jumbotron">
      <div class="container">
        <h1>New Data Coin</h1>
      </div>
    </div>
<div class="outer_container">
  <div class="container">
<%= render 'form' %>

<%= link_to 'Back', data_coins_path %>
  </div>
</div>